* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: gray;
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    height: 100vh;
}

.stopwatch {
    background-color: rgb(56, 71, 71);

    padding: 20px 30px;
    border-radius: 20px;

    width: fit-content;
    display: flex;
    justify-content: center;

}
#timer {
    font-weight: 700;
    font-size: 300%;
}

.btns {
    margin-top: 30px;

}
.btn {
    font-size: 1.3rem;
    background: none;
    color: wheat;
    border: none;
    background-color: rgb(23, 50, 31);
    padding: 10px 30px;
    border-radius: 15px;
    margin: 5px 15px;

}
.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
    
}